* {
    padding: 0;
    margin: 0;
}



.navdiv{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    transform: translate(0%,100%);


}

.navlinks li{
    display: inline-block;
    padding: 0px 20px;
    color: white;
}

.logo {
    
    transform: translate(20%,0%);
    color: white;
    transition: 0.5s;
}

.logo  :hover{
    color: #C3492C;
    transform: scale(1.1);
    transition: 0.2s;
}


.navlinks ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #C3492C;
    display: block;
    margin: auto;
    transition: 0.5s;

}

.navlinks ul li:hover::after {
    width: 100%;
}

.titlecontent{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.titlecontent{
    width: 90%;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-15%,-70%);
    font-size: xx-large;
    
}

a{
    text-decoration: none;
    color: white;
    font-size: 20px;
}

.homepage-card{

    width: 32.5%;
    background-color: #f0f0f0;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0px 2px 4px rgba(0,0,0,0.2);
    margin: 20px;
    max-height:20%;
}

.homepage-card img{
    max-width: 100%;
    height: auto;
}